In [137]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [71]:
dir(stats)

['__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '_binned_statistic',
 '_constants',
 '_continuous_distns',
 '_discrete_distns',
 '_distn_infrastructure',
 '_distr_params',
 '_multivariate',
 '_rvs_sampling',
 '_stats',
 '_stats_mstats_common',
 '_tukeylambda_stats',
 'absolute_import',
 'alpha',
 'anderson',
 'anderson_ksamp',
 'anglit',
 'ansari',
 'arcsine',
 'argus',
 'bartlett',
 'bayes_mvs',
 'bernoulli',
 'beta',
 'betaprime',
 'binned_statistic',
 'binned_statistic_2d',
 'binned_statistic_dd',
 'binom',
 'binom_test',
 'boltzmann',
 'boxcox',
 'boxcox_llf',
 'boxcox_normmax',
 'boxcox_normplot',
 'bradford',
 'brunnermunzel',
 'burr',
 'burr12',
 'cauchy',
 'chi',
 'chi2',
 'chi2_contingency',
 'chisquare',
 'circmean',
 'circstd',
 'circvar',
 'combine_pvalues',
 'contingency',
 'cosine',
 'crystalball',
 'cumfreq',
 'describe',
 'dgamma',
 'dirichlet',
 'distributions',
 'division',
 'dlaplace',
 'dweibull',
 'energy_distance',
 'entropy',
 'erlang',
 'expon',
 'exponnorm',
 'exponpow',
 'exponweib',
 'f',
 'f_oneway',
 'fatiguelife',
 'find_repeats',
 'fisher_exact',
 'fisk',
 'fligner',
 'foldcauchy',
 'foldnorm',
 'frechet_l',
 'frechet_r',
 'friedmanchisquare',
 'gamma',
 'gausshyper',
 'gaussian_kde',
 'genexpon',
 'genextreme',
 'gengamma',
 'genhalflogistic',
 'genlogistic',
 'gennorm',
 'genpareto',
 'geom',
 'gilbrat',
 'gmean',
 'gompertz',
 'gumbel_l',
 'gumbel_r',
 'halfcauchy',
 'halfgennorm',
 'halflogistic',
 'halfnorm',
 'hmean',
 'hypergeom',
 'hypsecant',
 'invgamma',
 'invgauss',
 'invweibull',
 'invwishart',
 'iqr',
 'itemfreq',
 'jarque_bera',
 'johnsonsb',
 'johnsonsu',
 'kappa3',
 'kappa4',
 'kde',
 'kendalltau',
 'kruskal',
 'ks_2samp',
 'ksone',
 'kstat',
 'kstatvar',
 'kstest',
 'kstwobign',
 'kurtosis',
 'kurtosistest',
 'laplace',
 'levene',
 'levy',
 'levy_l',
 'levy_stable',
 'linregress',
 'loggamma',
 'logistic',
 'loglaplace',
 'lognorm',
 'logser',
 'lomax',
 'mannwhitneyu',
 'matrix_normal',
 'maxwell',
 'median_test',
 'mielke',
 'mode',
 'moment',
 'mood',
 'morestats',
 'moyal',
 'mstats',
 'mstats_basic',
 'mstats_extras',
 'multinomial',
 'multivariate_normal',
 'mvn',
 'mvsdist',
 'nakagami',
 'nbinom',
 'ncf',
 'nct',
 'ncx2',
 'norm',
 'normaltest',
 'norminvgauss',
 'obrientransform',
 'ortho_group',
 'pareto',
 'pearson3',
 'pearsonr',
 'percentileofscore',
 'planck',
 'pointbiserialr',
 'poisson',
 'power_divergence',
 'powerlaw',
 'powerlognorm',
 'powernorm',
 'ppcc_max',
 'ppcc_plot',
 'print_function',
 'probplot',
 'randint',
 'random_correlation',
 'rankdata',
 'ranksums',
 'rayleigh',
 'rdist',
 'recipinvgauss',
 'reciprocal',
 'relfreq',
 'rice',
 'rv_continuous',
 'rv_discrete',
 'rv_histogram',
 'rvs_ratio_uniforms',
 'scoreatpercentile',
 'sem',
 'semicircular',
 'shapiro',
 'siegelslopes',
 'sigmaclip',
 'skellam',
 'skew',
 'skewnorm',
 'skewtest',
 'spearmanr',
 'special_ortho_group',
 'statlib',
 'stats',
 't',
 'test',
 'theilslopes',
 'tiecorrect',
 'tmax',
 'tmean',
 'tmin',
 'trapz',
 'triang',
 'trim1',
 'trim_mean',
 'trimboth',
 'truncexpon',
 'truncnorm',
 'tsem',
 'tstd',
 'ttest_1samp',
 'ttest_ind',
 'ttest_ind_from_stats',
 'ttest_rel',
 'tukeylambda',
 'tvar',
 'uniform',
 'unitary_group',
 'variation',
 'vonmises',
 'vonmises_line',
 'wald',
 'wasserstein_distance',
 'weibull_max',
 'weibull_min',
 'weightedtau',
 'wilcoxon',
 'wishart',
 'wrapcauchy',
 'yeojohnson',
 'yeojohnson_llf',
 'yeojohnson_normmax',
 'yeojohnson_normplot',
 'yulesimon',
 'zipf',
 'zmap',
 'zscore']

In [55]:
df=pd.read_csv('cheating.txt',sep='\t')
df

   obs  exp
0   20   12
1   20   28
2   10   18
3   50   42

$\tilde{\chi}^2=\sum \frac{(O_k - E_k)^2}{E_k}\$

In [56]:
df['conta']=((df.obs-df.exp)**2)/df.exp
df

   obs  exp     conta
0   20   12  5.333333
1   20   28  2.285714
2   10   18  3.555556
3   50   42  1.523810

In [57]:
df.conta.sum()

12.698412698412698

In [58]:
df=pd.read_csv('cheat2.txt',sep='\t')
df

   obs   exp
0   35  34.3
1   25  25.7
2    5   5.7
3    5   4.3

In [59]:
df['conta']=((df.obs-df.exp)**2)/df.exp
df.conta.sum()

0.23327026279843144

####  We walked through two different examples of how to do this and we still haven't been able to determine though, whether this is a significant difference or not.

To use a chi-squared table, you need to know two pieces of information:  
1. What level of significance that you want to run your test at.There's a convention that we most typically use in statistics, and it's the **0.05 level**. That means you're taking the chance, basically, you're taking a 5% chance that you're wrong in your conclusion. That's basically what the 0.05 level means.  
2. The degrees of freedom of the table that you're working with.  
---
Degrees of freedom basically tells you how much room you have to have things different in the table before everything else is determined.

In [190]:
dado={'linhas':['honesta','desonesta','col_tot'],
     'mulher':[10,2,10+2],'homem':[4,6,4+6]}
dado=pd.DataFrame(dado)
dado

      linhas  mulher  homem
0    honesta      10      4
1  desonesta       2      6
2    col_tot      12     10

In [191]:
dado['row_tot']=dado.mulher+dado.homem
dado

      linhas  mulher  homem  row_tot
0    honesta      10      4       14
1  desonesta       2      6        8
2    col_tot      12     10       22

In [192]:
dado.columns

Index(['linhas', 'mulher', 'homem', 'row_tot'], dtype='object')

In [193]:
obs=dado.iloc[0:2,1:3]
obs

   mulher  homem
0      10      4
1       2      6

In [194]:
dado["row_tot"][0:2]

0    14
1     8
Name: row_tot, dtype: int64

In [195]:
dado.iloc[2,1:3]

mulher    12
homem     10
Name: 2, dtype: object

In [200]:
expected1 =  np.outer(dado["row_tot"][0:2],
                 dado.iloc[2,1:3])/22
exp1=pd.DataFrame(expected1)
exp1.columns=['mulher','homem']
exp1

    mulher    homem
0  7.63636  6.36364
1  4.36364  3.63636

In [205]:
pre1 = (((obs-exp1)**2)/exp1)
chi=pre1.sum().sum()
chi

4.426190476190476

In [207]:
crit = stats.chi2.ppf(q = 0.95, # Find the critical value for 95% confidence*
                  df = 1)   
crit

3.841458820694124

A princípio, eu bati meu valor crítico. posso rejeitar a hipótese-nula. Agora, usando a biblioteca:

In [208]:
chi2, p, dof, expected = stats.chi2_contingency(obs, correction=False)

In [209]:
chi2 #confere

4.426190476190476

In [210]:
expected #confere

array([[7.63636364, 6.36363636],
       [4.36363636, 3.63636364]])

Como meu qui deu 4.42, maior que o valor crítico, posso rejeitar a hipótese-nula ($H_0$ diz que não existe relação entre minhas variáveis). If it's higher, then we'll say that yes, we found a significant relationship.
But if our calculated value is lower than our critical value, then we'll say no,
there is no significant relationship. Once you do a few of them, it just start to becomes,
sort of intuitive about what you're doing.
If you get a low number, you'll say, oh,
no way is that gonna be higher than that critical value.

#### Exercise 2:
apply the Chi Squared Test to determine whether previous success affects the level of change of a person (percentage wise, this does seem to be the case, but I wanted to see whether my results were statistically significant).

In [121]:
d = {'Previously Successful' : pd.Series([129.3, 182.7, 312], index=['Yes - changed strategy', 'No', 'col_totals']),
 'Previously Unsuccessful' : pd.Series([260.17, 711.83, 972], index=['Yes - changed strategy', 'No', 'col_totals']),
 'row_totals' : pd.Series([(129.3+260.17), (182.7+711.83), (312+972)], index=['Yes - changed strategy', 'No', 'col_totals'])}

total_summarized = pd.DataFrame(d)

In [122]:
total_summarized

,Previously Successful,Previously Unsuccessful,row_totals
Yes - changed strategy,129.3,260.17,389.47
No,182.7,711.83,894.53
col_totals,312.0,972.00,1284.00

In [123]:
observed = total_summarized.iloc[0:2,0:2]
observed

                        Previously Successful  Previously Unsuccessful
Yes - changed strategy                  129.3                   260.17
No                                      182.7                   711.83

In [124]:
expected =  np.outer(total_summarized["row_totals"][0:2],
                 total_summarized.iloc[2,0:2])/1284

In [165]:
total_summarized.iloc[2,0:2]

Previously Successful      312.0
Previously Unsuccessful    972.0
Name: col_totals, dtype: float64

In [166]:
total_summarized["row_totals"][0:2]

Yes - changed strategy    389.47
No                        894.53
Name: row_totals, dtype: float64

In [125]:
exp=pd.DataFrame(expected)
exp.columns = ["Previously Successful","Previously Unsuccessful"]
exp.index = ["Yes - changed strategy","No"]

In [126]:
pre = (((observed-exp)**2)/exp)
pre

                        Previously Successful  Previously Unsuccessful
Yes - changed strategy              12.695635                 4.075142
No                                   5.527561                 1.774279

In [127]:
qui_quadrado=pre.sum().sum()
qui_quadrado

24.07261667223289

In [212]:
crit = stats.chi2.ppf(q = 0.95, # Find the critical value for 95% confidence*
                  df = 1)   # *
crit

3.841458820694124

In [129]:
chi2, p, dof, expected = stats.chi2_contingency(observed, correction=False)

In [130]:
chi2

24.072616672232893

In [131]:
p

9.277020077687964e-07

In [132]:
dof

1

In [133]:
expected #calculado pela biblioteca

array([[ 94.63757009, 294.83242991],
       [217.36242991, 677.16757009]])

In [134]:
exp

                        Previously Successful  Previously Unsuccessful
Yes - changed strategy               94.63757                294.83243
No                                  217.36243                677.16757

In [135]:
chi2_2, p_2, dof, expected_2 = stats.chi2_contingency(observed)

In [136]:
chi2_2

23.383138325890453

Após a correção correction for continuity, o valor de qui-quadrado fica diferente.
### A chi-square test is one way to test a hypothesis. We're gonna move on to t-table or t-test, ANOVA test, regression, correlation. These are all ways to test hypotheses.

### Exercise 3
Who is more likely to decorate their homes for Halloween -- those who own, or those who rent? Because homeownership (owning or renting) and decorating (yes or no) are both measured at the nominal level, we examine the relationship between these variables using the Chi Square test.

Use the data below to work through the steps of the Chi Square test to determine if the relationship between home ownership and decorating for Halloween is significant.

In [235]:
df=pd.read_csv('hal.txt',sep='\t')
df.columns=['possui','decor']
df.head(3)

  possui decor
0    own   yes
1    own    no
2    own   yes

In [237]:
df['possui'].value_counts()#marginais

own     14
rent     6
Name: possui, dtype: int64

In [238]:
df['decor'].value_counts()#marginais

yes    12
no      8
Name: decor, dtype: int64

In [244]:
a,b=df['decor'].value_counts()#marginais
print(a,b)

12 8

In [255]:
pos_dec=len(df[(df.decor=='yes')&(df.possui=='own')].index) #numero de pessoas q possuem enfeites e decoram

In [266]:
d = {'possui' : pd.Series([pos_dec, 14-pos_dec, 14], index=['decora', 'no', 'col_totals']),
 'npossui' : pd.Series([12-pos_dec, 4, 6], index=['decora', 'no', 'col_totals']),
 }

total = pd.DataFrame(d)
total['row_tot']=total.possui+total.npossui
total

            possui  npossui  row_tot
decora          10        2       12
no               4        4        8
col_totals      14        6       20

In [267]:
obs=total.iloc[0:2,0:2]
obs

        possui  npossui
decora      10        2
no           4        4

In [284]:
exp=(np.outer(total.row_tot.iloc[0:2],total.iloc[2,0:2]))/20
exp=pd.DataFrame(exp)
exp.columns=['possui','npossui']
exp.index=['decora','no']
exp

        possui  npossui
decora     8.4      3.6
no         5.6      2.4

In [287]:
chi=((obs-exp)**2/exp).sum().sum()
chi

2.5396825396825395

In [288]:
crit = stats.chi2.ppf(q = 0.95, # Find the critical value for 95% confidence*
                  df = 1)   # *
crit

3.841458820694124

In [289]:
chi2, p, dof, expected = stats.chi2_contingency(obs, correction=False)
chi2

2.5396825396825395

### Homework B
In many countries, women have a choice about where to deliver their babies -- in a hospital, in a birthing center, or at home. Is the decision about where to deliver one's baby related to the education level of the mother? The dataset below comes from a study of women who have recently given birth. Use these data to examine the relationship between mother's education level and birthing location.

In [290]:
df=pd.read_csv('hwb.txt',sep='\t')
df.columns=['educ','lugar']
df.head(3)

          educ            lugar
0      college  birthing center
1      college         hospital
2  high school  birthing center

In [301]:
hi,co=df.educ.value_counts()
hos,bir,hom=df.lugar.value_counts()

In [308]:
a=len(df[(df.educ=='high school')&(df.lugar=='home')].index)
b=len(df[(df.educ=='college')&(df.lugar=='home')].index)
d=len(df[(df.educ=='college')&(df.lugar=='birthing center')].index)
c=len(df[(df.educ=='high school')&(df.lugar=='birthing center')].index)
e=hi-(a+c)
f=co-(b+d)

In [326]:
dado={'Home':[0,2,2],
    'BC':[1,3,4],
    'Hos':[7,3,10],
    'tot_row':[8,8,16]}
dado=pd.DataFrame(dado)
dado.index=['Hi','Col','tot_col']
dado

         Home  BC  Hos  tot_row
Hi          0   1    7        8
Col         2   3    3        8
tot_col     2   4   10       16

In [327]:
obs=dado.iloc[0:2,0:3]
obs

     Home  BC  Hos
Hi      0   1    7
Col     2   3    3

In [328]:
exp=np.outer(dado.tot_row.iloc[0:2],dado.iloc[2,0:3])/16
exp=pd.DataFrame(exp)
exp.columns=['Home','BC','Hos']
exp.index=['Hi','Col']
exp

     Home   BC  Hos
Hi    1.0  2.0  5.0
Col   1.0  2.0  5.0

In [330]:
chi=((obs-exp)**2/exp).sum().sum()
chi

4.6

In [332]:
crit = stats.chi2.ppf(q = 0.95, # Find the critical value for 95% confidence*
                  df = 2)   # *
crit

5.991464547107979

Nao posso rejeitar a hipótese-nula.

### Homework C
Your brother has been asked to organize the annual company party and is trying to decide on a location. He talks with colleagues from three different departments about the party, and thinks he might have found that preference for party location varies by department. Use the Chi square test with the data below to determine if the relationship between location preference and department is significant.

In [333]:
df=pd.read_csv('hwc.txt',sep='\t')
df.columns=['dep','lugar']
df.head(3)

               dep       lugar
0  human resources        park
1  human resources  restaurant
2  human resources  restaurant

In [334]:
df.dep.value_counts()

customer service    22
accounting          16
human resources     12
Name: dep, dtype: int64

In [335]:
df.lugar.value_counts()

ice skating rink    17
park                12
boss's house        11
restaurant          10
Name: lugar, dtype: int64

In [359]:
a=len(df[(df.dep=='human resources')&(df.lugar=='park')].index)
e=len(df[(df.dep=='accounting')&(df.lugar=='park')].index)
i=12-a-e
b=len(df[(df.dep=='human resources')&(df.lugar=='restaurant')].index)
f=len(df[(df.dep=='accounting')&(df.lugar=='restaurant')].index)
j=10-b-f
c=2
d=12-c-b-a

In [339]:
a=len(df[(df.dep=='human resources')].index)

In [360]:
d

6

In [355]:
d

8